.page__footer {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100px;  // Adjust height as needed
      background-image: url('../images/banner_image.jpeg');
      background-repeat: repeat-x;
      background-position: bottom;
      margin-top: 2em;
    }
  }