---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script>
      document.addEventListener('scroll', function() {
        const footer = document.querySelector('.page__footer');
        const scrollPosition = window.scrollY + window.innerHeight;
        const documentHeight = document.documentElement.scrollHeight;
    
        // Show footer when scrolled to the bottom
        if (scrollPosition >= documentHeight) {
          footer.style.bottom = '0'; // Show footer
        } else {
          footer.style.bottom = '-100px'; // Hide footer
        }
      });
    </script>

  </body>
</html>
